<ul class="list-unstyled">
    <li><a href="https://twitter.com/gobikannanp"><i class="fa fa-twitter"></i> Twitter (gobikannanp)</a></li>
    <li><a href="https://github.com/gkviews"><i class="fa fa-github"></i> GitHub (gkviews)</a></li>
    <li><a href="https://stackoverflow.com/users/3687831/gobikannan"><i class="fa fa-stack-overflow"></i> Stack Overflow (gobikannan)</a></li>
    <li><a href="https://in.linkedin.com/in/gobikannan"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
</ul>